<div class = "well col-xs-8 col-xs-offset-2">
    <% obj.each do |event| %>
        <h4 class="badge badge-light">Title:</h4>  <%= event.title %><br>
        <h4 class="badge badge-light">Description:</h4>  <%= event.description %><br>
        <p class="badge badge-light">Created by: </p><%= event.user.username %><br>
        <%= link_to("Show", event_path(event), :class => 'btn btn-xs btn-success') %>
      <% if logged_in? && current_user.id == event.user_id %>
        <%= link_to("Edit", edit_event_path(event), :class => 'btn btn-xs btn-primary') %>
        <%= link_to("Delete", delete_event_path(event), :class => 'btn btn-xs btn-danger') %>
      <% end %>
      <p class="line"></p>
    <% end %>
</div>

