<%= error_messages_for(f.object) %>

<p>Title: <br><%= f.text_field(:title, size: "60") %></p>
<p>Description: <br><%= f.text_area(:description, size: "60x12") %></p>
<p>Location:<br> <%= f.text_field(:location) %></p>
<p>Date:<br> <%= f.datetime_local_field(:date) %></p>

