<% @page_title = "All Events" %>


<div class = "events index">
<h2>Events</h2>
<p><%= link_to("Add New Event", new_event_path, :class => 'action new') %><br></p>
<% @events.each do |event| %>
Title:  <%= event.title %><br>
Description:  <%= event.description %><br>
<%= link_to("Show", event_path(event), :class => 'action show') %>
<%= link_to("Edit", edit_event_path(event), :class => 'action edit') %>
<%= link_to("Delete", delete_event_path(event), :class => 'action delete') %>
<p></p>
<% end %>
</div>

