<% @page_title = "All Events" %>

<div class="container">
<div class="center jumbotron">
  <h1 class="display-4">Welcome to Private Events</h1>
  <p class="intro lead">Anyone can create an event that serves a certain purpose. All you have to do is sign up, create your event,
    and share it with others to attend your event.</p>
  <hr class="my-4">
  <p>Sign up below to start creating your event.</p>
  <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg more", role: "button" %>
</div>


<div class="container">
<div class="row">
  <div class="events-left">
    <div align="center">
      <h2 class="alert alert-primary" role="alert">Upcoming Events</h2>
      <%= will_paginate @upcoming_events %>
    </div>

      <%= render 'event', obj: @upcoming_events %>

  </div>

  <div class="events-right">
    <div align="center">
      <h2 class="alert alert-primary" role="alert">Past Events</h2>
      <%= will_paginate @past_events %>
    </div>
      <%= render 'event', obj: @past_events %>

  </div>

</div>
</div>
</div>

