<%= link_to("<< Back to List", events_path, :class => 'back-link') %>

<div class = "events show">
<h2>Show Event</h2>

Title: <%= @event.title %><br>
Description: <%= @event.description %><br>
Location: <%= @event.location %><br>
Date: <%= @event.date %><br>
Created by: <%= @event.users %>
</div>
