<!DOCTYPE html>
<html>
  <head>
    <title>Private Events: <%= @page_title || "Welcome to our events"%></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>   
  
  <%= render 'layouts/navigation' %>
  
  
  <div class="container basic">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
  </body>
</html>


