<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_tag 'application' %>
  </head>

  <body>
   <%= render 'layouts/navigation' %>
   
     <%= yield %>
  
  </body>
</html>
